/* Split the screen in half */
.container .split {
    /*overflow: scroll;*/
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.right{
    right:0;
    left: 49%;
}

.left {
    left: 0;
    background-image: -webkit-linear-gradient(left, #8aa49d, #04a49f, #8aa49d);
    background-image:    -moz-linear-gradient(left, #8aa49d, #04a49f, #8aa49d);
    background-image:     -ms-linear-gradient(left, #8aa49d, #04a49f, #8aa49d);
    background-image:      -o-linear-gradient(left, #8aa49d, #04a49f, #8aa49d);
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

@media (max-width: 480px) {
    body {
        padding: 1em 1em 1em 1em;
        margin: 0px;
        margin-left: -2.1%;
        margin-right: -2.1%;
        margin-top: -2.1%;
    }
}
